{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section_top" align="right">
    <h5><b>Welcome, {{ current_user.username }}!</b></h5>
</div>

<div class="section">
    <div class="container">


                <h3><b>Add new scheduler:</b></h3>
                <div>
                    <form action="" method="post" maxlength="180">{% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>


{% endblock content %}