{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section_top" align="right">
    <h5><b>Welcome, {{ current_user.username }}!</b></h5>
</div>

<div class="section">
    <div class="container">

        <div class="actions_buttons">
            <span><a href="/task/add/"><button class="btn btn-default"> Add task</button></a></span>
            <span><a href="{% url 'archieve' status=2 %}" class="btn btn-default">Archieved tasks</a></span>
            <span><a href="{% url 'add_scheduler' %}"><button class="btn btn-default">Add scheduler</button></a></span>
            <span><a href="{% url 'schedulers' %}"><button class="btn btn-default">Schedulers list</button></a></span>
        </div>


        <div class="row">


            <h3><b>Current Tasks:</b></h3>
            <ul class="list-group">
                {% for task in tasks %}

                <li class="list-group-item">
                    <h4>

                        <a href="/task/view/{{ task.id }}">
                            {{ task.title }}
                        </a>
                        <span class="badge"><a href="{% url 'tag_search' tag=task.tag %}" style="color: white;">{{ task.tag }}</a></span>

                    </h4>
                    <h6><b>Description:</b> {{ task.description }}
                    </h6>
                    <h6><b>Expiration date:</b> {{ task.end_date }}</h6>

                    {% if task.status == 0 %}
                    <span><h6><b>Status: </b> Undone </h6></span>
                    {% elif task.status == 1 %}
                    <span><h6><b>Status: </b> Process </h6></span>
                    {% else %}
                    <span><h6><b>Status: </b> Done </h6></span>
                    {% endif %}


                    <div class="actions_links">
                        <span><a href="{% url 'delete' id=task.id %}">Delete</a></span>
                        <span>|</span>
                        <span><a href="{% url 'post_edit' id=task.id %}">Edit</a></span>
                    </div>

                </li>


                {% endfor %}
            </ul>

            <div class="pagination">
                <span class="step-links">
                    {% if tasks.has_previous %}
                          <a href="?page={{ tasks.previous_page_number }}">previous</a>
                    {% endif %}

                <span class="current">
                    <b> Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}. </b>
                </span>

                {% if tasks.has_next %}
                     <a href="?page={{ tasks.next_page_number }}">next</a>
                 {% endif %}
                </span>
            </div>


        </div>
    </div>

</div>
{% endblock content %}