{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section-top">
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3><b>Current Tasks:</b></h3>
                {% for task in tasks %}
                <h4><li>{{ task.title }} <span class="badge">{{ task.tag }}</span></li></h4>
                <h6><b>Description:</b> {{ task.description }}
                    <span><a href="https://vk.com/stasinskii">Info</a></span>
                </h6>

                {% endfor %}
            </div>
            <div class="col-sm-8" >
                <h3><b>Add new task:</b></h3>
                <div>
                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock content %}