{% extends 'trackthat/home.html' %}

{% block category %}
    <h2>{{list.name}}</h2>
    <a href="{% url 'task_new' list_id=list.id %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    <ul class="list-group">
        {% if list.content %}
            {% for activity in list.content %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="line">
                        <a href="{% url 'task' id=activity.id list_id=list.id %}"
                           class="list-group-item">{{activity.name}}</a>
                        <a href="{% url 'task_delete' id=activity.id list_id=list.id%}" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span></a>
                     </div>
                </li>
            {% endfor %}
        {% else %}
            <h3>List is empty</h3>
        {% endif %}
    </ul>
{% endblock %}