{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section_top" align="right">
    <h5><b>Welcome, {{ current_user.username }}!</b></h5>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <h3><b>Availible schedulers:</b></h3>
            <ul class="list-group">
                {% for scheduler in schedulers %}

                <li class="list-group-item">
                    <h4>
                        <a href="/task/home/">
                            {{ scheduler.title }}
                        </a>
                    </h4>
                    <h6><b>Interval:</b> {{ scheduler.interval }}
                    </h6>
                    <h6><b>Last added:</b> {{ scheduler.last_added }}</h6>
                </li>


                {% endfor %}
            </ul>


        </div>
    </div>

</div>
{% endblock content %}