{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section_top" align="right">
    <h5><b>Welcome, {{ current_user.username }}!</b></h5>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <h3><b>Order by tag: {{ tag }}</b></h3>
            <ul class="list-group">
                {% for task in tasks %}

                <li class="list-group-item">
                    <h4>

                        <a href="/task/view/{{ task.id }}">
                            {{ task.title }}
                        </a>
                        <span class="badge">{{ task.tag }}</span>

                    </h4>
                    <h6><b>Description:</b> {{ task.description }}
                    </h6>
                    <h6><b>Expiration date:</b> {{ task.end_date }}</h6>


                    <span><h6><b>Status: </b> {{ task.status }} </h6></span>


                    <div class="actions_links">
                        <span><a href="{% url 'delete' id=task.id %}">Delete</a></span>
                        <span>|</span>
                        <span><a href="{% url 'post_edit' id=task.id %}">Edit</a></span>
                        <span>|</span>
                        <span><a href="/task/status/done/{{ task.id }}">Done</a></span>
                        <span>|</span>
                        <span><a href="/task/status/begin/{{ task.id }}">Begin</a></span>
                    </div>


                </li>


                {% endfor %}
            </ul>


        </div>
    </div>

</div>
{% endblock content %}