html, body{
    height: 100%;
    max-height: 100%;
}


.title{
    text-align: center;
}

.general-container{
        background-color: grey;
        height=100%;
        color: white;
        }

.general-container form label{
        font-weight: 100;
        }

.top-container{
        }

.section_top{
        align: right;
        margin-right: 2%;

}



.welcome  {
    width: 20%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 5% 0 4%;
}



/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input + select {
    float: right;
}


.btn-primary{
    margin: 0 5% 5% 0%;
    width: 20%
}
